.task-item .delete-icon {
    visibility: hidden; /* Oculta el ícono por defecto */
    cursor: pointer;
    color: #afafaf;
}

.task-item:hover .delete-icon {
    visibility: visible; /* Muestra el ícono al hacer hover */
}


.card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 6rem;
    color: rgba(175, 47, 47, 0.15);
}

input::placeholder {
  text-align: center;
}

input::form-control {
    text-align: center;
}

